pre {
    margin-top: 10px;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin-bottom: 15px;
}
#circle {
    width: 60px;
    height: 60px;
    background: #5cb85c;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: background, border-color, 0.7s ease;
    color: #FFF;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    z-index: 2;
}
#circle:hover {
    border-color: #398439;
    background: #419641;
}
.list {
    display: none;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 60px;
    //height: 1000px;
    //overflow-x:auto;
    z-index: 2;

}
.list ul {
    //list-style-type: none;
    //height:100%;
    padding: 0;
    //position:static;
    //display:inline-block;
}
.list li {
    padding-top: 10px;
}
/*-----------Header-------------*/
header {
    margin-bottom: 15px;
}
.header-a, .header-h {
    color: #5697cf;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.header-a:hover {
    text-decoration: none;
    color: #286090;
}
header .form-inline {
    text-align: right;
}

header .form-control {
    height: 25px;
}

header .btn {
    padding: 2px 12px;
}
.ya {
    margin: 16px;
}
label img {
    margin-left: 30px;
}
/*-----------End-Header-------------*/
/*-----------Article-------------*/
article {
    clear: both;
}
.article-hi {
    color: #A94442;
    font-weight: bold;
}
/*article:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/
.main-part {
    color: #5697cf;
    text-align: center;
}
.main-text {
    font-style: italic;
    word-wrap: break-word;
}
/*развернуть/свернуть текст*/
.slide pre, .slide nav,
.slide [type="checkbox"]{
    display:none;
}

.slide [type="checkbox"]:checked ~ pre, .slide [type="checkbox"]:checked ~ nav {
    display:block;
}
.slide label {
    color: #428bca;
}
.slide label:hover {
    color: #2a6496;
    text-decoration: underline;
}
blockquote {
    border-left: dotted #ff9a38 7px;
    margin: 40px;
    padding: 5px 15px 15px;
    font-size: 14px;
}
blockquote cite {
    display:block;
    text-align:right;
    font-weight:bold;
    color:#172076;
}
.article_pre {
    color: white;
    background: black;
    display: inline-block;
    padding: 4px;
}
.art_fig {
    margin: 15px auto;
    text-align: center;
}
.glowing {
    background-color: #000;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.glowing a {
    color: #314547;
    font-size: 24px;
    letter-spacing: 3px;
}
.glow span{
    transition: all .3s;
}
.glow span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color: #fff;
}
    /*-----------End-Article-------------*/
/*-----РСЯ----*/
#yandex_rtb_R-A-288816-1 {
    margin: 15px 0;
}
/*-----End-РСЯ----*/
/*-----------Книга о PHP-------------*/

.lyapin img {
    margin: 10px;
}
.lyapin-right {
    vertical-align: middle;
    padding-left: 20px;
}
.lyapin-right a {
    color: black
}
/*-----------End-Книга о PHP-------------*/

.btn-info a {
    color: white;
    text-decoration: none;
}
.etxt {
    text-align: right;
}
label {
    width: 100%;
}
.form-item {
    width: 100%;
}
.rusakov {
    min-height: 188px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
.rusakov-java {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border: 1px solid #003;
    text-align: center;
}
.rusakov-java p {
    font-size: 120%;
    font-weight: bold;
}
.rusakov-img {
    width: 131px;
}
.rusakov-img1 {
    width: 150px;
    margin: 8px 0;
}
.rusakov-info {
    padding-top: 40px;
    font-size: 120%;
    font-weight: bold;
    color: #c00;
}
.rusakov-info-2 {
    color: #000;
    margin: 10px 0;
}
 /*-----------Регистрация-------------*/
 .form-horizontal, .reg-h2 {
     text-align: center;
 }
 .form-horizontal {
     margin-bottom: 15px;
 }
.reg-p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 17px;
}
.reg-p strong {
    padding-right: 10px;
}
.reg-p > .glyphicon {
    color: #3C763D;
}
/*-кнопка-регистрация-*/
.header-link {
    margin-right: 16px;
    padding: 4px 12px;
    color: #fff;
    background: #31B0D5;
    border: 1px solid transparent;
    border-radius: 4px;
}
.header-link:hover {
    background: #286090;
    color: #fff;
    text-decoration: none;
}

 /*-----------End-Регистрация---------*/

/*----Комментарии---------*/
.section-two input {
    margin: 10px 0;
}
#RformComment input {
    margin: 10px;
}

/*-----End-Комментарии--------------*/
/*----------подвал------------------*/
footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer figcaption {
    margin: 0 20px 0 25px;
}
footer img {
    max-width: 71px;
}
.morph {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.morph:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*-----End-подвал-------------------*/
/*страница 40x*/
.e404 {
    text-align: center;
}
.e404-fig {
    width: 436px;
    margin: 0 auto;
}
/*.e404 li {*/
    /*line-height: 27px;*/
    /*text-align: left;*/
/*}*/
.error {
    font-family: verdana, sans-serif;
    font-size: 10pt;
    background-color: #fff;
}
.error_b {
    font-weight: bold;
}
.error_b_s {
    font-size:10px;
}
.error table {
    margin: 0 auto;
    width: 80%;
    border: 1px solid gray;
    text-align: center;
}
.error_table {
    margin: 0 auto;
    height: 100px;
    background-color: #808080;
    border: 0;
    font-family: tahoma, sans-serif;
    font-size: 175px;
    color: #fff;
}
.error table .error_table {
    width: 50%;
}
.error_table td {
    line-height: 1.1;
}
/*----End-Страница 40x--------*/

@media screen and (max-width: 690px) and (min-width: 368px) {
    .container {
        margin-left: 5px;
    }
    .section-two, .section-one {
        display: inline-block !important;
        width: 100% !important;
        margin: 0 -3px;
    }
    .section-one {
        text-align: left !important;
    }
    #tableComment {
        margin: 10px;
    }
    .section-two input {
        margin: 0;
    }
    .e404-img, .e404-fig {
        width: 100%;
    }
}
@media screen and (max-width: 367px) and (min-width: 320px) {
    .container {
        margin-left: 5px;
    }
    .section-two, .section-one {
        display: inline-block !important;
        width: 100% !important;
        margin: 0 -3px;
    }
    .section-one {
        text-align: left !important;
    }
    #tableComment {
        margin: 10px;
    }
    .section-two input {
        margin: 0;
    }
    figure img, .e404-img, .e404-fig {
        width: 100%;
    }
    label img {
        margin-left: 12px;
    }
}

