<form class="form-inline" action="login.php" method="post">
  <div class="form-group">
    <label class="sr-only" for="login">Логин</label>
    <input type="text" class="form-control" id="login" name="login" placeholder="Логин">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">Пароль</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
  </div>
  <button type="submit" class="btn btn-success">Войти</button>
  <a class="header-link" href="reg_user.php">Регистрация</a>
</form>